* {
    margin: 0;
    padding: 0
}

body {
    background-color: #0c0c0c;
    color: white;

    .container {
        max-width: 1280px;
        margin: 0 auto;

    }
    .skeleton-wrapper {
        max-width: 1280px;
        margin: 0 auto;
        padding: 80px;
        margin: 0 auto;
        justify-content: center;
    }

    .grid-container {
        max-width: 1280px;
        display: grid;
        gap: 22px;
        padding: 80px;
        padding-top: 45px;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        justify-items: center;
        margin: 0 auto;

        .custom-cards-style {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            &__content {
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               height: 100%;
            }
        }
    }

}