* {
    margin: 0;
    padding: 0
}

body {
    background-color: #0c0c0c;
    color: white;

    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 12px 80px 12px;
    }
    .skeleton-wrapper {
        max-width: 1280px;
        margin: 0 auto;
        padding: 80px;
        margin: 0 auto;
        justify-content: center;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
    }

    .grid-container {
        max-width: 1280px;
        display: grid;
        gap: 22px;
        padding: 12px 80px 12px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        justify-items: center;
        margin: 0 auto;

        .custom-cards-style {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            .card-image {
               min-height: 200px;
               object-fit: fill;
            }

            &__content {
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               height: 100%;
            }
        }
    }

}